html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  /* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
}

body {
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex: 1;
}

.container {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 970px;
  border-radius: 0.5em;
}
.main {
  max-width: 485px;
  flex: 1;
}

.picture {
  background-color: hsl(277, 49%, 46%);
  filter: contrast(140%) brightness(90%) saturate(90%);
  border-radius: 0 0.5em 0.5em 0;
}
img {
  width: 100%;
  display: block;
  opacity: 0.3;
  border-radius: 0 0.5em 0.5em 0;
}

ul {
  padding: 0;
}

.intro {
  margin: 2em 5.5em 0 4.3em;
  display: flex;
  flex-direction: column;
}

.intro-heading {
  color: white;
  /* margin: 0 2em 1em 2em; */
  letter-spacing: 0.5px;
}

.intro-heading span {
  color: hsl(277, 64%, 61%);
}

.write-up {
  opacity: 75%;
  font-size: 13.5px;
  line-height: 1.7em;
  /* margin: 2em 5em 3em 4.3em; */
}

.stats-list {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

.stats {
  list-style: none;
}

.stats-heading {
  font-family: "Lexend Deca", sans-serif;
  font-size: 10.5px;
  letter-spacing: 1px;
  opacity: 70%;
  margin-top: 0.5em;
}

.stats-numbers {
  font-weight: 700;
  color: white;
  font-size: 22px;
}

.attribution {
  margin: 5px;
}

@media (max-width: 600px) {
  body {
    text-align: center;
  }
  .container {
    flex-direction: column-reverse;
  }
  .stats-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
  }
  .stats {
    margin: 0.5em;
  }
  .intro {
    margin: 2em 2em 0 2em;
  }
  .picture,
  img {
    border-radius: 0.5em 0.5em 0 0;
  }
}
